.container {
    width: 42px;
    height: 24px;
    border: 0.1px solid var(--text-color-opacity-50);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    position: relative;
    cursor: pointer;
}

.icon {
    font-size: 12px;
    user-select: none;
}

.ball {
    width: 15px;
    height: 15px;
    background-color: var(--link-color);
    border-radius: 50%;
    position: absolute;
}